{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block style %}{% endblock %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <style>
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 90px;
      background-color: #f5f5f5;
    }

    .footer .container {
      margin-top: 30px;
    }

    #share-buttons img {
      width: 35px;
      padding: 5px;
      border: 0;
      box-shadow: 0;
      display: inline;
    }
    #share-buttons a {
      text-decoration: none;
    }
    #share-buttons {
      width: 278px;
    }
  </style>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">
        Redditor
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'top' %}">Top Subreddits</a></li>
      <li><a href="{% static 'wordcloud/index.html' %}" target="_blank">Word Clouds</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Reddit through the ages<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'domain_detail' %}">Popular Domains Shared on Reddit</a></li>
          <li><a href="{% url 'subreddit_detail' %}">Breakdown of Subreddits</a></li>
        </ul>
      </li>
      <li><a href="{% url 'ngram_viewer' %}">Ngram Viewer</a></li>
      <li><a href="{% static 'network/index.html' %}" target="_blank">Subreddit Graph</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Peak times to post<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'peak_hours' %}">by hour</a></li>
          <li><a href="{% url 'peak_weekdays' %}">by day of week</a></li>
          <li><a href="{% url 'peak_months' %}">by month</a></li>
        </ul>
      </li>
      <li><a href="https://github.com/yuguang/reddit-comments" target="_blank">Github</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  {% block content %}{% endblock %}

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    {% block script %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8796086-13', 'auto');
      ga('send', 'pageview');

    </script>
  <footer class="footer">
    <div class="container">
      <div class="center-block" id="share-buttons">

        <!-- Facebook -->
        <a href="https://www.facebook.com/sharer.php?u=https://redditor.club/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
        </a>

        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=https://redditor.club/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
        </a>

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://redditor.club/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
        </a>

        <!-- Pinterest -->
        <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','https://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
            <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
        </a>

        <!-- Reddit -->
        <a href="https://reddit.com/submit?url=https://redditor.club/&amp;title=Reddit Data Visualizations"  onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location) + '&amp;title=' + document.title; return false" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
        </a>

        <!-- Tumblr-->
        <a href="https://www.tumblr.com/share/link?url=https://redditor.club/&amp;title=Reddit Data Visualizations" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" />
        </a>

        <!-- Twitter -->
        <a href="https://twitter.com/share?url=https://redditor.club/&amp;text=Reddit%20Data%20Visualizations&amp;hashtags=reddit" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
        </a>

      </div>
    </div>
  </footer>
</body>
</html>