{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block style %}{% endblock %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="https://www.reddit.com/favicon.ico" height="20" alt="github">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'top' %}">Top Subreddits</a></li>
      <li><a href="{% url 'word_cloud' %}">Word Clouds</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Reddit through the ages<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'domain_detail' %}">Popular Domains Shared on Reddit</a></li>
          <li><a href="{% url 'subreddit_detail' %}">Breakdown of Subreddits</a></li>
        </ul>
      </li>
      <li><a href="{% url 'ngram_viewer' %}">Ngram Viewer</a></li>
      <li><a href="{% static 'network/index.html' %}" target="_blank">Graph</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Peak times to post<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'peak_hours' %}">by hour</a></li>
          <li><a href="{% url 'peak_weekdays' %}">by day of week</a></li>
        </ul>
      </li>
      <li><a href="https://github.com/yuguang/reddit-comments" target="_blank">Github</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  {% block content %}{% endblock %}
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>