{% extends "base.html" %}
{% block title %}Top Subreddits{% endblock %}
{% load staticfiles %}
{% block style %}
  <link rel="stylesheet" href="{% static "css/pace.css" %}">
  <script src="{% static "pace.min.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div id="container-bubble" style="min-width: 310px; margin-left: 20px; cursor: crosshair;"></div>
  </div>
  <script>
  var data = {% include 'bubble.json' %};
  </script>
{% endblock %}

{% block script %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script>
  $(function () {
    $('#container-bubble').highcharts({

        chart: {
            type: 'bubble',
            plotBorderWidth: 1,
            zoomType: 'xy'
        },

        legend: {
            enabled: false
        },

        title: {
            text: ''
        },

        subtitle: {
          text: document.ontouchstart === undefined ?
            'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in',
                      floating: true,
            align: 'right',
            x: -10,
            verticalAlign: 'bottom',
            y: -50
        },

        xAxis: {
            type: 'logarithmic',
            gridLineWidth: 1,
            title: {
                text: 'Gilded Comments to Total Comments Ratio'
            },
            labels: {
                format: '{value} %'
            }
        },

        yAxis: {
            type: 'logarithmic',
            startOnTick: false,
            endOnTick: false,
            title: {
                text: 'Average Score'
            },
            labels: {
                format: '{value}'
            },
            maxPadding: 0.2
        },

        tooltip: {
            useHTML: true,
            headerFormat: '<table>',
            pointFormat: '<tr><th colspan="2"><h3>{point.name}</h3></th></tr>' +
                '<tr><th>Gilded ratio:</th><td>{point.x:.8f}%</td></tr>' +
                '<tr><th>Avg. score:</th><td>{point.y:.2f}</td></tr>' +
                '<tr><th>Comments:</th><td>{point.z:,.0f}</td></tr>',
            footerFormat: '</table>',
            followPointer: true
        },

        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                },
                point: {
                        events: {
                            click: function (e) {
                                window.open('http://reddit.com/r/' + this.name, '_blank');
                            }
                        }
                    }
            }
        },

        series: [{
            data: data
        }]

    });
  });
</script>
{% endblock %}