{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Redditor's Club{% endblock %}

{% block content %}
  <div class="row">
    <div class="page-header">
      <h1>Reddit trends
        <small>mined from over 1TB of comments</small>
      </h1>
    </div>
  </div>
  <div class="row">
  <div id="container" style="min-width: 310px; margin-left: 20px"></div>
  </div>
  {% if not debug %}
  <div class="row">
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~yuguang/6.embed"></iframe>
  </div>
  <div class="row"><iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~yuguang/20.embed"></iframe></div>
  <div class="row">
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~yuguang/12.embed"></iframe>
  </div>
  {% endif %}
  <div class="row">
    <div id="container-bubble" style="min-width: 310px; margin-left: 20px"></div>
  </div>
{% endblock %}

{% block script %}

  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="{% static "home.js" %}"></script>
{% endblock %}