{% extends "base.html" %}
{% load static %}
{% block title %}Redditor's Club{% endblock %}

{% block content %}
  <div class="row">
    <div class="page-header">
      <h1>Reddit trends
        <small>mined from over 1TB of comments</small>
      </h1>
    </div>
  </div>
  <div class="row">
  <div id="container" style="min-width: 310px; margin-left: 20px"></div>
  </div>
  {% if not debug %}
  <div class="row">
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://5f6828a9-fbd8-40f8-86c8-9bec85439382.plotly.app/chart/6/chart_data"></iframe>
  </div>
  <div class="row">
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://5f6828a9-fbd8-40f8-86c8-9bec85439382.plotly.app/chart/58/chart_data"></iframe>
  </div>
  <div class="row">
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://5f6828a9-fbd8-40f8-86c8-9bec85439382.plotly.app/chart/20.embed"></iframe></div>
  <div class="row">
  <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://5f6828a9-fbd8-40f8-86c8-9bec85439382.plotly.app/chart/12.embed"></iframe>
  <div class="row">
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://5f6828a9-fbd8-40f8-86c8-9bec85439382.plotly.app/chart/60.embed"></iframe>
  </div>
  <div class="row">
    <iframe width="900" height="800" frameborder="0" scrolling="no" src="https://5f6828a9-fbd8-40f8-86c8-9bec85439382.plotly.app/chart/70.embed"></iframe>
  </div> 
  {% endif %}
  <div class="row">
    <div id="container-bubble" style="min-width: 310px; margin-left: 20px"></div>
  </div>
{% endblock %}

{% block script %}

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="{% static "home.js" %}"></script>
{% endblock %}