{% extends "base.html" %}
{% block title %}Reddit Ngram Viewer{% endblock %}
{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static "css/bootstrap-tokenfield.min.css" %}">
{% endblock %}

{% block content %}
{% comment %}  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> While DynamoDB is still being populated with n-grams, this viewer may show some missing entries.
    </div>
  </div>{% endcomment %}
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="input-group">
      <input type="text" class="form-control" id="search-box" {% if debug %}value="new"{% endif %} placeholder="Enter terms"/>
          <span class="input-group-btn">
            <button id="search-btn" class="btn btn-default" type="button">Search</button>
            <button id="shuffle-btn" class="btn btn-default" type="button">Shuffle</button>
          </span>
      </div>
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="row">
    <div id="container" style="min-width: 310px; margin: 0 auto"></div>
  </div>
{% endblock %}

{% block script %}
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="{% static "bootstrap-tokenfield.min.js" %}"></script>
  <script>
    var searches = [['obama', 'mccain'], ['iphone 5s', 'iphone 4s', 'iphone 5', 'iphone 6'], ['breaking bad', 'game of thrones', 'mad men', 'dexter'], ['imo', 'imho'], ['blackberry', 'twitter'], ['facebook', 'youtube'], ['swine flu', 'h1n1']];
    var shuffleIndex = 0;
    function shuffle() {
      var terms = searches[shuffleIndex].join(',');
      displayGraph(terms);
      $('#search-box').tokenfield('setTokens', terms);
      shuffleIndex += 1;
      if (shuffleIndex == searches.length) {
        shuffleIndex = 0;
      }
    }
    $('#shuffle-btn').click(function () {
      shuffle();
    });
    $('#search-box').tokenfield({createTokensOnBlur: true});
    $('#search-btn').click(function () {
      var terms = $('#search-box').val();
      displayGraph(terms.toLowerCase());
    });
    function toDate(date_compressed) {
      var y = '20' + date_compressed.slice(0,2);
      var m = date_compressed.slice(2,4);
      var d = date_compressed.slice(4,6);
      return Date.UTC(parseInt(y), parseInt(m), parseInt(d))
    }
    function displayGraph(terms) {
      $.getJSON('', {'terms': terms}, function (data) {
        var dates = [];
        var series = _.chain(data)
          .map(function (list, domain) {
            list = _.map(list, function (item) {
              var date = toDate(item[0]);
              dates.push(date);
              return [date, parseInt(item[1]) / Math.pow(10, 8)];
            });

            return {
              type: 'spline',
              name: domain,
              data: list
            }
          })
          .value();
        window.chart = new Highcharts.StockChart({
          chart: {
            renderTo: 'container'
          },
          yAxis: {
            labels: {
              format: '{value} %'
            }
          },

          rangeSelector: {
            selected: 4,
            inputDateFormat: '%Y-%m-%d'
          },
          tooltip: {
            valueSuffix: '%',
            shared: true
          },
          title: {
            text: ''
          },

          series: series

        }, function (chart) {

          // apply the date pickers
          setTimeout(function () {
            $('input.highcharts-range-selector', $('#' + chart.options.chart.renderTo)).datepicker()
          }, 0)
        });
        var min = _.min(dates);
        var date = new Date(min);
        // console.log([date.getFullYear() + 1, date.getMonth(), date.getDay()]);
        chart.xAxis[0].setExtremes(
          min,
          Date.UTC(date.getFullYear() + 2, date.getMonth(), date.getDay()),
          true,
          false
        );
      });
    }
    // Set the datepicker's date format
    $.datepicker.setDefaults({
      dateFormat: 'yy-mm-dd',
      onSelect: function (dateText) {
        this.onchange();
        this.onblur();
      }
    });
  </script>
{% endblock %}