{% extends "peak.html" %}

{% block content %}
  {% with 'day of week' as name %}
  {{block.super}}
  {% endwith %}
{% endblock content %}

{% block script %}
  <script>
  var weekdayShort = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'];
  var weekdayLong = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  var file = 'weekday.tsv';
  var formatTip = function(d) {
    var i = weekdayShort.indexOf(d.year);
    return "<strong>" + d.country + "\t" + weekdayLong[i] + "</strong></span>";
  };
  </script>
  {{block.super}}
{% endblock script %}