{% extends "search.html" %}
{% load staticfiles %}
{% block style %}
  <style>
  .top-buffer { margin-top:20px; }
  #wordcloud {
    image-rendering: crisp-edges;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div id="error" style="display: none;" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Enter one subreddit at a time
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="input-group">
        <input id="search-box" type="text" class="form-control" placeholder="Search for a subreddit...">
      <span class="input-group-btn">
        <button id="search-btn" class="btn btn-default" type="button">Go!</button>
      </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="row top-buffer">
      <div class="span4"></div>
      <div class="span4"><img class="center-block" src="http://redditor.club/wordcloud/PS3.png" width="800" alt="" id="wordcloud"></div>
      <div class="span4"></div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    $(function () {
      var termSearch = _.debounce(function (request, response) {
          $.getJSON('', {
            term: btoa(request.term)
          }, response);
        }, 300);
      $("#search-box").autocomplete({
        source: termSearch,
        minLength: 2,
        focus: function() {
          // prevent value inserted on focus
          return false;
        }
      }).keydown(function(){
          $('#error').hide();
      });
      $('#search-btn').click( function () {
        displayImage($('#search-box').val());
      });
      function displayImage(subreddit) {
        if (subreddit.indexOf(',') > -1) {
          $('#error').show()
        } else {
          var path = 'http://redditor.club/wordcloud/';
          $('#wordcloud').attr('src', path + subreddit + '.png');
        }
      }
    });
  </script>
{% endblock script %}